.Calculator .data {
  padding: 36px 0px;
  background: #eceef1;
}

.Calculator .data p {
  margin-top: 0;
}

.Calculator .wages .wage {
  padding: 6px 0px;
}

.Calculator .result {
  padding: 36px 0px;
}

input {
  margin: 0 .3rem;
  height: 1em;
  padding: .275rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}