body {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Helvetica, sans-serif;
  background: url("/ne-kadar-verdin/bg.png") center center no-repeat;
  background-size: contain;
}

a {
  color: darkred;
  font-weight: bold;
}

a:hover {
  color: purple;
}

a:active,
a:focus {
  color: black;
}

h1 {
  font-size: 1.8rem;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 180px;
}

footer {
  text-align: center;
  font-size: 12px;
  padding: 12px 10px;
  color: #606060;
}

.App-wrapper {
  flex: 1 1 auto;
}
